@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --green-: #0AE448;
    --white-: #FFFFFF;
    --grey-: #999999;
    --black-: #0D0D0D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--black-);
}
body {
    color: var(--white-);
    overscroll-behavior: none;
    padding: 0 2.4rem;
}
/* ----- NO TOCAR ----- */
.line_container {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.separator {
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.08);
}
.separator:nth-child(1) {
    left: 25%;
}
.separator:nth-child(2) {
    left: 50%;
}
.separator:nth-child(3) {
    left: 75%;
}
/* ----- // ----- */




/* NAV */
.nav__container {
    width: 100%;
    height: 10.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* NAV LOGO */
.nav__logo {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    padding: .8rem 1.6rem;
    border: .2rem solid var(--white-);
    border-radius: 3rem;
}

/* HERO */
.hero__title {
    overflow: hidden;
}
.hero__title__header {
    font-size: clamp(2rem, 14cqi, 20rem);
    text-align: center;
    line-height: 1;
    color: var(--white-);
    margin-bottom: 4rem;
}
.hero__title__header span {
    font-weight: 700;
    display: inline-block;
    transform: translateY(120%);
}
.hero__subtitle {
    display: flex;
    justify-content: center;
}
.hero__subtitle__header {
    font-size: clamp(2.4rem, 4cqi, 8rem);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 12.8rem;
    color: var(--white-);
}
.hero__subtitle__header span {
    color: var(--green-);
    font-weight: 600;
}
.hero__image {
    width: 100%;
    max-width: 1280px;
    height: 600px;
    overflow: hidden;
    margin: auto;
}
.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ABOUT TEXT */
.about__container {
    display: flex;
    justify-content: center;
    margin: 18.4rem 0;
}
.about__paragraph {
    color: var(--white-);
    font-size: clamp(2.4rem, 2.3cqi, 8rem);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.about__paragraph__one {
    max-width: 84rem;
}
.about__paragraph__two {
    max-width: 87rem;
    margin: 3.2rem 0;
}
.about__paragraph__three {
    max-width: 82rem;
}
.about__paragraph span {
    color: var(--green-);
    font-weight: 600;
}



/* responsive */
@media(max-width: 480px) {
    .nav__container {
        margin-bottom: 6.4rem;
    }
    .hero__title__header {
        margin-bottom: 2.4rem;
    }
    .hero__subtitle__header {
        margin-bottom: 7.2rem;
    }
    .about__container {
        margin: 16.8rem 0;
    }
}










/* ESTILOS JHON */