@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --green-: #0AE448;
    --white-: #FFFFFF;
    --grey-: #999999;
    --black-: #0D0D0D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--black-);
}
body {
    color: var(--white-);
    overscroll-behavior: none;
    padding: 0 2.4rem;
    width: 100%;
    height: 100vh;
}
/* ----- NO TOCAR ----- */
.line_container {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.separator {
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.08);
}
.separator:nth-child(1) {
    left: 25%;
}
.separator:nth-child(2) {
    left: 50%;
}
.separator:nth-child(3) {
    left: 75%;
}
/* ----- // ----- */




main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}





.nav {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    color: var(--green-);
    font-size: 1.8rem;
    font-weight: 600;
    padding: .8rem 1.6rem;
    border: .3rem solid var(--green-);
    border-radius: 3rem;
    background-color: var(--black-);
}

.hero__title {
    overflow: hidden;
}
.hero__title__header {
    font-size: clamp(2rem, 14cqi, 20rem);
    text-align: center;
    line-height: 1;
    color: var(--white-);
}
.hero__title__header span {
    font-weight: 700;
    display: inline-block;
    transform: translateY(120%);
}

.hero__subtitle {
    display: flex;
    justify-content: center;
}
.hero__subtitle__header {
    font-size: clamp(2.4rem, 3cqi, 6rem);
    font-weight: 400;
    line-height: 1.2;
    color: var(--white-);
}
.hero__subtitle__header span {
    color: var(--green-);
    font-weight: 600;
}



.footer {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proximamente {
    color: var(--white-);
    font-size: 1.8rem;
    padding: .8rem 1.6rem;
    border-bottom: .1rem solid var(--white-);
    border-radius: 1rem;
    background-color: var(--black-);
}